[dir='ltr'], [dir='rtl'] {
  unicode-bidi: isolate
}

.sbibod {
  background-color: #fff;
  height: 44px;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.lst-c {
  overflow: hidden
}

#gs_st0 {
  line-height: 44px;
  padding: 0 8px;
  margin-top: -1px;
  position: static
}

.srp #gs_st0 {
  padding: 0 2px 0 8px
}

.sbdd_a input {
  margin: 6px;
}

.tsf {
  background: none
}

.tsf-p {
  position: relative;
}

.sfibbbc {
  padding-bottom: 2px;
  padding-top: 3px;
  margin-top: -3px;
  width: 632px
}

.sbtc {
  position: relative
}

.sbibtd {
  line-height: 0;
  overflow: visible;
  white-space: nowrap
}

#searchform {
  width: 100%
}

.hp #searchform {
  position: absolute;
  top: 311px
}

.srp #searchform {
  position: absolute;
  top: 20px
}

#sfdiv {
  max-width: 484px
}

.hp .big #sfdiv {
  max-width: 584px;
  margin: -1px 0 1px
}

.srp #sfdiv {
  max-width: none;
  overflow: hidden
}

.srp #tsf {
  position: relative;
}

.hp .tsf-p {
  padding-top: 8px
}

@keyframes gb__a {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

.gb_da .gb_b {
  background-position: -132px -38px;
  opacity: .55
}

.gb_ea .gb_da .gb_b {
  background-position: -132px -38px
}

.gb_X .gb_da .gb_b {
  background-position: -463px -35px;
  opacity: 1
}

#gb#gb {
  color: #427fed;
  text-decoration: none
}

#gb#gb {
  text-decoration: underline
}

.gb_9c {
  display: inline-block;
  padding: 0 0 0 15px;
  vertical-align: middle
}

.gb_9c:first-child, #gbsfw:first-child + .gb_9c {
  padding-left: 0
}

.gb_Qc {
  position: relative
}

.gb_b {
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  color: #000;
  cursor: pointer;
  text-decoration: none
}

#gb#gb a.gb_b {
  color: #000;
  cursor: pointer;
  text-decoration: none
}

.gb_fa {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  display: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 44px;
  animation: gb__a .2s;
  border-radius: 2px;
}

.gb_9c.gb_g .gb_fa {
  display: block
}

.gb_fb .gb_fa {
  margin-top: -10px
}

#gbsfw {
  min-width: 400px;
  overflow: visible
}

#gbsfw.gb_pa iframe {
  display: none
}

.gb_bc a {
  color: #4285f4;
  text-decoration: none
}

.gb_Nc .gb_Qc {
  font-weight: bold;
  top: 0;
  right: 0
}

.gb_Nc .gb_b {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 30px;
  width: 30px
}

#gb#gb a.gb_P, #gb#gb span.gb_P {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none
}

#gb#gb a.gb_P:hover, #gb#gb a.gb_P:focus {
  opacity: .85;
  text-decoration: underline
}

.gb_Q.gb_R {
  display: none;
  padding-left: 15px;
  vertical-align: middle
}

.gb_Q.gb_R:first-child {
  padding-left: 0
}

.gb_Q span {
  opacity: .55;
}

.gb_Q .gb_P {
  display: inline-block;
  line-height: 24px;
  outline: none;
  vertical-align: middle
}

.gb_S .gb_P {
  display: none
}

.gb_V .gb_S .gb_P {
  min-width: 0
}

.gb_W .gb_S .gb_P {
  width: 0 !important
}

.gb_fc .gb_hc {
  background-position: 0 -35px;
  height: 33px;
  width: 92px
}

.gb_X .gb_fc .gb_hc {
  background-position: -296px 0
}

.gb_ea .gb_fc .gb_hc {
  background-position: -97px 0;
  opacity: .54
}

.gb_Jf .gb_b {
  background-position: -498px -35px;
  opacity: .55;
  height: 30px;
  width: 30px
}

.gb_Jf .gb_b:hover, .gb_Jf .gb_b:focus {
  opacity: .85
}

.gb_X .gb_Jf .gb_b {
  background-position: -428px -35px;
  opacity: 1
}

.gb_ea .gb_Jf .gb_b {
  background-position: -498px 0;
  opacity: .7
}

.gb_ea .gb_Jf .gb_b:hover, .gb_ea .gb_Jf .gb_b:focus {
  opacity: .85
}

.gb_Mf > .gb_R {
  height: 60px;
  line-height: 58px;
  vertical-align: middle
}

.gb_fb .gb_Mf > .gb_R {
  height: 28px;
  line-height: 26px
}

.gb_R {
  display: inline-block;
}

.gb_R.gb_Kg {
  float: right;
  order: 1
}

.gb_Lg {
  white-space: nowrap
}

.gb_T .gb_Lg {
  display: flex
}

.gb_Lg, .gb_R {
  margin-left: 0 !important;
  margin-right: 0 !important
}

.gb_hc {
  background-image: url('../images/i1_1967ca6a.png');
  background-size: 528px 68px
}

@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
  .gb_hc {
    background-image: url('../images/i2_2ec824b0.png')
  }
}

.gb_nb {
  min-width: 255px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: right;
  z-index: 986;
  align-items: center;
  justify-content: flex-end;
}

.gb_fb .gb_nb {
  min-width: 0
}

.gb_Ec {
  line-height: normal;
  position: relative;
  text-align: left
}

.gb_vg {
  display: inline-block;
  padding: 0 0 0 15px;
  position: relative;
  vertical-align: middle
}

.gb_oe {
  line-height: normal;
  padding-right: 15px
}

.gb_V .gb_oe, .gb_lb .gb_Ec {
  overflow: hidden
}

.gb_jb .gb_oe {
  padding-right: 0
}

.gb_V .gb_Ec {
  padding: 1px 1px 1px 0
}

.gb_jb .gb_Ec {
  width: 75px
}

.gb_nb.gb_Cg .gb_oe, .gb_nb.gb_Cg .gb_Ec {
  transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out
}

.gb_T .gb_nb {
  min-width: 0
}

.gb_nb.gb_W .gb_Ec, .gb_nb.gb_Dg .gb_Ec {
  min-width: 0 !important
}

.gb_nb.gb_W .gb_R {
  flex: 0 0 auto !important
}

#gb.gb_Og {
  min-width: 980px
}

.gb_Og.gb_Og .gb_Q {
  display: inline-block
}

.gb_Og.gb_nb {
  z-index: 987
}

html, body {
  height: 100%;
  margin: 0
}

#viewport {
  min-height: 100%;
  position: relative;
  width: 100%
}

.content {
  padding-bottom: 137px
}

#footer {
  bottom: 0;
  height: 137px;
  position: absolute;
  width: 100%
}

td {
  line-height: .8em
}

.gac_m td {
  line-height: 17px
}

.ts td {
  padding: 0
}

em {
  font-weight: bold;
  font-style: normal
}

#lst-ib:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9 !important
}

.ctr-p {
  margin: 0 auto;
  min-width: 980px
}

a {
  color: #1a0dab;
  text-decoration: none
}

a:hover, a:active {
  text-decoration: underline
}

.fl a {
  color: #1a0dab
}

.sblc a {
  display: block;
  margin: 2px 0 2px 13px;
}

#footer a {
  margin: 2px 10px 0
}

#footer a:active {
  color: #4885ed;
}

h1, ol, ul, li {
  margin: 0;
  padding: 0
}

#body, #footer {
  display: block
}

.big .tsf-p {
  padding-left: 150px;
  padding-right: 352px
}

.hp .tsf-p {
  padding-left: 173px;
  padding-right: 173px
}

.hp #tsf {
  margin: 0 auto;
  width: 833px
}

#tsf {
  width: 833px
}

.big #tsf, .hp .big #tsf {
  width: 1139px
}

.tsf-p {
  padding-left: 150px;
  padding-right: 46px
}

.hp .big .tsf-p {
  padding-left: 284px;
  padding-right: 284px
}

#ftby > div, #fll > div, #footer a {
  display: inline-block
}

.gsri_a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat -3px 0;
  background-size: 24px 24px;
  display: inline-block;
  height: 23px;
  width: 17px;
  vertical-align: middle
}

.gsst_a {
  display: inline-block
}

.gsst_a {
  cursor: pointer;
  padding: 0 4px
}

.gsst_a:hover {
  text-decoration: none !important
}

.gsst_b {
  padding: 0 2px;
  position: relative;
  user-select: none;
  white-space: nowrap
}

.sbib_a {
  background: #fff;
  box-sizing: border-box;
}

.sbib_b {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 5px 9px 0
}

.sbib_c[dir=ltr] {
  float: right
}

.sbib_c[dir=rtl] {
  float: left
}

.sbib_a, .sbib_c {
  vertical-align: top
}

.sbib_b {
  padding-left: 16px
}

.gsst_a {
  padding: 0 8px
}

.gsst_a {
  width: 24px
}

.gsst_a {
  text-align: center
}

.gsri_a {
  width: 18px
}

@media only screen and (max-width: 580px) {
  #gb div {
    display: none
  }
}

#gb {
  position: relative;
  top: 8px
}

div#searchform {
  min-width: 980px;
  z-index: 103
}

.big form#tsf, form#tsf {
  width: auto;
  max-width: 784px;
  overflow: hidden
}

#searchform.big > #tsf {
  max-width: 784px
}

.big div.tsf-p, form > div.tsf-p {
  margin: -1px 0 0;
  padding-right: 0
}

div#viewport {
  position: absolute;
  top: 0;
  width: 100%
}

#searchform.big.jhp > #tsf {
  max-width: none
}

.jhp > #gb {
  position: absolute;
  top: -295px;
  right: 0;
  width: 100%
}

.jhp > #tsf {
  max-width: none
}

#als {
  margin-bottom: 24px
}

#CToSde {
  display: inline-block;
  line-height: 28px;
}

#CToSde a {
  padding: 0 3px;
}

.EvHmz {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0
}

.fbar p {
  display: inline
}

.fbar a {
  text-decoration: none;
  white-space: nowrap
}

.fbar {
  margin-left: -27px
}

.Fx4vi {
  padding-left: 27px;
  margin: 0 !important
}

#fbarcnt {
  display: block
}

.hRvfYe a:hover {
  text-decoration: underline
}

#fsr {
  float: right;
  white-space: nowrap
}

#fsl {
  white-space: nowrap
}

#fbar {
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 980px
}

.fbar p, .fbar a {
  color: #777
}

.fbar a:hover {
  color: #333
}

#fsl {
  margin-left: 30px
}

#fsr {
  margin-right: 30px
}

.b0KoTc {
  padding-left: 27px;
  margin-left: 30px;
  text-align: left
}

.b2hzT {
  border-bottom: 1px solid #e4e4e4
}
